# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Drumbox/HiHat \+ Snare/Snare\+Hihat-backups/

Drumbox/Drumbox/Drumbox-backups/

MS20-VCF/MS20-VCF-backups/

Basic-mixer/Basic-mixer-backups/

Output-mixer/Output-mixer-backups/

PSU/PSU/PSU-backups/

Trigger Sequencer/Trigger Sequencer-backups/

Multiplexer/Multiplexer_3x2/Multiplexer_3x2-backups/

Mixers/Basic-mixer/Basic-mixer-backups/

Mixers/Output-mixer/Output-mixer-backups/
